 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-header">About Me</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>As an open-source enthusiast, I try to work on side projects that I feel will help other developers or create things that I feel could improve the daily lives of people through free software. Feel free to check out my various projects or my <a class='para-link' href="https://medium.com/@erickipnis">blog posts</a> on Medium. I'm always learning and working on something! Currently, I work as a back-end developer at SapientNitro in Boston, MA.</p>
                </div>
            </div>
        </div>
    </section>
